@media only screen and (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }

  body {
    width: 80%;
    margin: auto;
  }

  .row .col-lg-4 {
    width:33.333%;
    margin: auto;
  }

  .row .col-lg-4:nth-child(1){
    padding-left: 20px;
    padding-right: 10px;
  }

  .row .col-lg-4:nth-child(2){
    padding: 0px 15px;
  }

  .row .col-lg-4:nth-child(3){
    padding-left: 10px;
    padding-right: 20px;
  }

  .row .col-md-6 {
    width:50%;
    margin: auto;
  }

  .row .col-lg-6:nth-child(1){
    padding-left: 20px;
    padding-right: 10px;
  }

  .row .col-lg-6:nth-child(2){
    padding-left: 10px;
    padding-right: 20px;
  }

  .row .col-lg-12 {
    width:100%;
    margin: auto;
    padding: 0px 20px;
  }

  .navbar {
    width: 80%;
    line-height: 48px;
    background-color:#3c3e3f;
    color: white;
    display: inline-block;
    position: fixed;
    z-index: 10;
  } 
  
  .navbar .navbar-link {
    display: inline-flex;
    float: right;
    padding-right: 5% ;
  } 

  .navbar-nav li {
    display: inline-block;
  }

  .navbar .navbar-nav a{
    text-decoration: none;    
    color: white;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
  } 

  .navbar .navbar-Logo {
    padding-left: 5%;
  }

  .navbar-Logo:hover {
    color: #fda634;
  }

  .navbar-nav a:hover {
    background-color: #fda634;
  }

  .nav-social a {
    padding: 14px 0px
  }


  .nav-social a:hover {
    color: #fda634;
  }

  #header {
    width: 100%;
    margin: auto;
    background: black;
    overflow: hidden;
    position: relative;
  }

  #header img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 1;
  }

  #header .header-text {
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: 15%;
    left: 0;
    right: 0;
    text-align: center;
  }

  #header .header-text h1 {
    font-size: 28px;
  }

  #header .header-text p {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #1387bdf3;
  }

  #header .header-text p:hover {
    background-color: #397492f3;
    cursor: pointer;
  }

  #header button {
    background-color: Transparent;
    border: none;
    z-index: 11;
  }

  .prev, 
  .next {
    position: absolute;
    width: auto;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, 
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .content {
    position: relative;
    z-index: 2;
  }

  .content .image-content img {
    width: 100%;
    height: auto;
    margin-top: -20%;
    transition: transform .3s ease-in-out;
  } 

  .content .image-content p,
  .content .image-content img:hover {
    transform: scale(1.05);
  }

  .image-content p:hover {
    color: #fda634;
  }

  .image-content p {
    color: white;
    margin-top: -12%;
    text-align: center;
    font-size: 16px;
  }

  .detail-content {
    margin-top: 100px;
  }  

  .detail-content h3 {
    color: rgb(60, 60, 60);
  } 

  .detail-content p {
    color: rgb(118, 118, 118);
    padding: 10px 0px;
    font-size: 14px;
    text-align: justify;
  } 

  .detail-content a {
    color: #fda634;
    font-size: 14px;
  } 

  .detail-content a:hover {
    cursor: pointer;
    color: #40aef0;
  }

  .testimonials-content {
    width: 100%;
    margin-top: 100px;
    background-color: #f6f6f6;
    padding-bottom: 80px;
  }

  .testimonials-content h1 {
    padding-top: 80px ;
    padding-bottom: 40px ;
    text-align: center;
  }

  .testimonials-content .row {
    padding: 20px 0px 20px;
  }

  .testimonials-content img {
    width: 100%;
    height: auto;
  }

  .testimonials-content img:nth-child(1) {
    visibility: hidden;
    display:none;
  }
  
  .testimonials-content p {
    text-align: justify;
    background-color: white;
    padding:10px;
    border: solid 1px #f6f6f6;
    margin-top: 30%;
    margin-right: 15%;
    margin-left: -20%;
  }

  .footer {
    padding-bottom: 80px;
    background-color: #f2f2f2;
  }

  .footer .image-content img {
    width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
  } 

  .footer .row{
    padding: 2% 0px;
  }

  .footer .header h4 {
    padding: 10px 0px;
  }

  .footer .image-content p {
    color: white;
    margin-top: -12%;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 10px black;
  }

  .footer .header {
    padding: 50px 0px 20px;
    text-align: center;
  }

  .footer .image-content p,
  .footer .image-content img:hover {
    transform: scale(1.05);
  }

  .btn {  
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}
